p{
  color:black;
  font-size: 80px;
  text-align: center;
}
h1{
  text-align: center;
  font-size: 100px;
  color: black;
  border-image-source: url("Images/rg2.jpg");
  border-image-width: auto;
}
.first{
  color:#008000;
  font-size: 30px;
}
.second{
  color:#008000;
  font-size: 30px;
}
.third{
  color:#008000;
  font-size: 30px;
}
.fourth{
  color: #008000;
  font-size: 30px;
}
img{
  margin: auto;
  display: block;
  width: 500px;
  height: auto;
}
table{
  margin: auto;
  display: block;
}
body{
  background-image: url("Images/cool.jpg")
}
iframe{
  margin: auto;
  display: block;
}
.vid{
  color: black;
  font-size: 50px;
  margin: auto;
  display: block;
}
