html, body{
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  background-image: url("Images/ragga.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
  text-align: center;
  font-size: 100px;
  font-style: italic;
  color: white;
  border-style: hidden;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    font-size: 30px;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: black;
}
.rasta{
  float: left;
}
